.npd-welcome-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	min-height: 70vh;
	width: 100%;
}

.npd-welcome-card {
	max-width: 400px;
	width: 100%;
	padding: 8px 0 16px 0;
}

.npd-welcome-actions {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 24px;
}

@media (min-width: 600px) {
	.npd-welcome-card {
		max-width: 480px;
		margin: 24px auto;
	}

	.npd-welcome-actions {
		/* flex-direction: row; */
		justify-content: center;
		/* gap: 24px; */
	}
}